version: "3.8"

services:

  app:
    build: .
    container_name: app
    volumes:
      - .:/var/www/html
    ports:
      - "8080:8000"
    depends_on:
      - rabbitmq

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
